{% extends 'base.html' %}

{% block content %}

<h1>Home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem aliquam a tempora ducimus consequuntur unde aut! Expedita, obcaecati ipsam. Beatae, suscipit. Corrupti illum voluptatem, provident dignissimos ratione soluta, dolore vitae vero id cumque enim reiciendis adipisci? Blanditiis quo odit reprehenderit nesciunt consequatur perferendis unde incidunt! Cumque laborum aspernatur cupiditate quam! Ratione, debitis culpa, commodi ut sed, dolore ducimus dignissimos repellat at nihil unde expedita ex accusamus minus tempora rerum voluptatibus tempore exercitationem. Excepturi inventore earum praesentium culpa vero quidem consequatur ipsam ad voluptates doloremque voluptatem fugiat tempore deserunt, harum ex dolorum recusandae aspernatur soluta ab non quibusdam! Quasi, tenetur maiores.</p>

{% endblock %}
